/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.float-left {
    float: left;
}

/* header e navigazione iniziale della home page */

header {
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background-color: rgb(47, 94, 224);
}

.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    max-width: 1180px;
}

img {
    vertical-align: middle;
}

header .main-nav li {
    margin: 0 3%;
    display: inline-block;
}

.logo,
.login {
    width: calc(30% / 2);
}

.main-nav {
    width: 70%;
}

button {
    padding: 10px;
    border-radius: 20px;
    border: transparent;
}

.access {
    font-weight: bold;
    background-color: white;
}

/* lista di navigazione senza text-decoration-underline e poi hover con underline*/

ul li a {
    text-decoration-line: none;
    color: white;
}

a:hover {
    text-decoration-line: underline;
}

/* jumbotron con il contenuto */

#back-jumbotron {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/jumbo.png);
}

.section-container {
    width: 100%;
    height: 50vh;
}

.text-jumbotron {
    width: 50%;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: white;

}

.text-jumbotron h1,
p,
button.text-button {
    margin: 30px 10px;
}

h1 {
    font-size: 3rem;
}

i {
    margin: 0 5px;
}

.text-button {
    font-size: medium;
}

.browser-discord {
    background-color: rgb(24, 24, 24);
    color: white;
}