/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

/* header e navigazione iniziale della home page */

header {
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: rgb(49, 97, 224);
    text-align: center;
}

.container {
    width: 80%;
    height: 100%;
    max-width: 1180px;
    margin: 0 auto;
}

img {
    vertical-align: middle;
}

header .main-nav li {
    margin: 0 3%;
    display: inline-block;
}

.logo,
.login {
    width: calc(30% / 2);
}

.main-nav {
    width: 70%;
}

.access {
    padding: 10px;
    border-radius: 20px;
    border: transparent;
}

/* lista di navigazione senza text-decoration-underline e poi hover con underline*/

ul li a {
    text-decoration-line: none;
    color: white;
}

a:hover {
    text-decoration-line: underline;
}